
/*--------------------------------*/

/*  2. Header top Area
/*--------------------------------*/
.container {
  width: 100%;
}

.container {
  width: 100%;
}

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.40);
  z-index: 9;
}

.navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
  padding: 15px 0;
}

.main-menu ul.navbar-nav li {
  display: inline-block;
  padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active a::after {
  border: 1px solid #333;
  bottom: 0px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #333;
}

.main-menu ul.navbar-nav li.active a:focus {
  color: #333;
}

.main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #333;
  position: relative;
}

.main-menu ul.navbar-nav li a:hover {
  color: #3EC1D5;
}

.navbar {
  border: medium none;
  margin-bottom: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #333;
}

.navbar-default .navbar-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  padding: 25px 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #333;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.top-right.text-right {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 20px;
}

.top-right.text-right>li {
  float: right;
  margin: 0px 8px;
}

.top-right.text-right li a {
  color: #333;
}

/*--------------------------------*/

/* 2.1. Stick menu
/*--------------------------------*/

.header-area.stick {
  background-color: rgba(0, 0, 0, 1);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 90px;
}

.stick .navbar-brand>img {
  display: none;
}

.stick .navbar-brand.sticky-logo>img {
  display: block;
}

.sticky-logo h1 {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
}

.sticky-logo h1 span {
  color: #3ec1d5;
}
.stick .main-menu ul.navbar-nav li.active a::after {
  border: 1px solid #333;
  bottom: 0px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.stick .main-menu ul.nav>li>a:hover {
  color: #333;
}

.stick .main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #333;
  position: relative;
}

.stick .mainmenu ul#nav>li:hover>a, .stick .mainmenu ul#nav li .mega-menu, .stick .mainmenu ul#nav li ul.sub-menu {
  background-color: #f5f5f5;
  color: #333;
  outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover, .mainmenu ul#nav li .mega-menu span>a:hover, .stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
  color: #333;
}

.stick .logo {
  height: 20px;
}

.stick .logo a {
  margin-top: 0px;
}

.stick .main-menu ul.nav>li>a {
  color: #333;
  line-height: 22px;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.stick .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.stick .navbar-default .navbar-toggle {
  padding: 10px 0px;
}

/*****************************************
*            PAGE CSS KILLIAN            *
*****************************************/


 /*             Bannière                */             

.bannerkillian {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 200px;
}

.backgroundkillian {
   background-color: #050500;
   height: 200px;
   width: 100%;
}


/*            Jeu du pendu              */      

.entetependu {
  text-align: center;
  margin: 18px auto;
}

.containerpendu {
  background-color: #FFF;
  height: 400px;
  display: flex;
}

.essaisPendu{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px auto;
}

.lettre {
  border: 1px solid #000;
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 1em;
  margin: 3px auto;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.lettre:nth-child(odd) {
  background-color: white;
}

.lettre:nth-child(even) {
  background-color: #ccc;
}

.ok {
  background-color: #039111 !important;
  color: #fff;
}

.ko {
  background-color: #973132 !important;
  color: #fff;
}

#mot_cache {
  font-size: 5em;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#nb_essais {
  font-size: 3em;
  color: #fff;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

#bouton_jouer {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.nuagekillian {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}



/*****************************************
*            PAGE CSS KEVIN              *
*****************************************/

@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);

.bannerpodeur {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 200px;
}

.backgroundpodeur {
   background-color: #050500;
   height: 200px;
   width: 100%;
}

.body-kevin
{
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  color: white;
  text-align: center;
  font-family: 'Cherry Swash';
}

.login
.pass{
  display: flex;
  text-align: center;
  flex-direction: column;

}

.entete {
  text-align: center;
  margin: 18px auto;
}

.containerpodeur {
 background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  box-shadow: 10px 10px 15px 10px rgba(255,0,0,0.69);
  -webkit-box-shadow: 20px 15px 26px 11px rgba(255,0,0,0.69);
  -moz-box-shadow: 20px 15px 26px 11px rgba(255,0,0,0.69);
  border-radius: 40px;
  border-top: 10px double #2f1df0;
  border-right: 10px double #ff6550;
  border-bottom: 10px double #ff6550;
  border-left: 10px double #2f1df0;
  border-style: inset;
}

#tool-box {
  width: 100%;
  height: 250px;
  margin: 12px;
  background: orange;
}

.ecrans {
  min-width: 450px;
  margin: 12px;
}

.ecran {
  width: 180px;
  height: 75px;
  color: red;
  background-color: #777;
  font-style: 'digital';
  font-size: 5em;
  margin-right: 25px;
}

.slider {
  height:32px;
  margin: auto 2px;
}
.button{
  
  cursor : pointer;
}

#btn-pause,
#btn-stop
{
  display: none;
}

.btn-svg{
  width: : 100px;
  height: 100px;
}

#clavier-container {
  display: flex;
  flex-wrap: wrap;
  margin: 75px auto;
}

.touche {
  height: 250px;
  background-color: white;
  border: 1px groove black;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 10px;
}

.jouee{
    -webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,1));
    /* filter: url(#drop-shadow); */
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";
    background-color: #ccd !important;  
  }

.note {
  z-index: 1; 
  box-shadow: 5px 5px 0px black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: 
}

.bemol {
  height: 150px;
  background-color: black;
  z-index: 2; 
  margin : 0px -20px 0px -20px ;
}

.groupe.notes {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.groupe.notes.init, 
.groupe.notes.final {
  width: 15%;
}
.groupe.notes.trois {
  width: 21%;
}
.groupe.notes.quatre {
  width: 28%;
}

.groupe.notes.init .touche {
  width: 25%;
}
#clavier-container {
  color: red;
   font-size: 1.2em;
}


/*****************************************
*            PAGE CSS ERWAN              *
*****************************************/

.bannererwan {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 200px;
}

.backgrounderwan {
   background-color: #050500;
   height: 200px;
   width: 100%;
   padding-left: 35%;
}

.banner {
  display: flex;
  flex-flow:row wrap;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

.backgroundG {
  background-image: url("../images/erwan.jpg");
  color : white;
  margin: -15px -15px;
  padding-bottom: 100px;
  width: 100%;
  height: 250px;
}


.separateurkev{
  border:5px double red;
}

.enteteRgb {
  text-align: center;
  margin: 18px auto;
}

.containerRgb {
  background-color: #ffffff;

}

#carre_colore {

  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 100px;
  margin-top: : 15px auto;
  width: 100px;

}

#rgb {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

.r {
  border-color: red;
  color: red;
}

.g {
  border-color: green;
  color: green;
}

.b {
  border-color: blue;
  color: blue;
}

#hex {
  border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.titrepage {

  color: darkblue;
}

.soustitre {

  color: darkgreen;
}

.carrehex {
  
}

/*****************************************
*            PAGE CSS NINON              *
*****************************************/

.bannerninon {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 200px;
}

.backgroundninon {
   background-color: #050500;
   height: 200px;
   width: 100%;
}

.nuage {
  width: 480px;
  height: 319px;
  }

.titresninon {
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  font-family: Georgia, "Arial Black", Arial, Verdana, sans-serif;

}

.listesninon {
  list-style-type: none; 
}


.ninonpres {
  width: 480px;
  height: 319px;
  justify-content: left;
}

.quijesuis {
  justify-content: center;
  align-items: center;
  width: 480px; 
  margin: 12px auto; 
  text-align:center
}
.grostitreninon .nomninon {
  font-size:18px;
  font-style: italic;
  color: #89725B;

}

/*****************************************
*            PAGE CSS CONTACT            *
*****************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);




.containercontact {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
-webkit-input-placeholder {
 color:#888;
}
-moz-placeholder {
 color:#888;
}
-moz-placeholder {
 color:#888;
}
-ms-input-placeholder {
 color:#888;
}

/* CONTACT */ 

textarea {
  resize: none;
}
.form-label {
  font-size: 12px;
  color: #5e9bfc;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.js-hide-label {
  opacity: 0;   
}
.js-unhighlight-label {
  color: #999 
}
.btn-start-order {
  background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color: #5e9bfc;
  color: #5e9bfc;
}
